body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.divHero{
  height: 400px;
}

.transactions{
  
  display: grid;
  grid-template-columns: 200px 1fr 200px;
}

.header{
  height: 100px;
}

.imgNFT{
  width: 220px;
  height: 200px;
}

.p {
  text-align: center;
  font-weight: bold;
}

.p2{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.p3{
  
  font-weight: bold;
  font-size: 20px;
}

.div{
  text-align: center;
}

/* POPUP */
  
.mint_popup{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.mint_popup_innner {
  position:relative;
  padding: 32px;
  height: 300px;
  width: 850px;
  height: 430px;
  max-width: 1200px;
  text-shadow: 1px 0 #010257, -1px -1px 0 #010e57, 1px -1px 0 #010257, -1px 1px 0 #012a57, 1px 1px 0 #012a57;
  background-color: #2157c5;
  border-radius: 6px;
  color: white;
  
}
      
.mint_div{
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  text-align: center;
}

.mint_div_img{
        
  height: 250px;
  width: 100%;
}    

.mint_img{
  position: absolute;
  height: 150px;
  width: 180px;
  top: 17%;
  left: 38%;
  border-radius: 10%;
}
        
    
.mint-div-subtitle1 {
  height: 250px;
  width: 280px;
}  
        
.mint__titulo1_1{
  font-size: 20px;
  font-weight: bold;
      
}        

.mint__titulo3{
  font-size: 20px;
  font-weight: bold;     
}       
  
.mint__titulo4{
  font-size: 20px;
  font-weight: bold;
}
    
.mint__titulo2_1{
  font-size: 18px;
  font-weight: bold;

} 
.mint_popup_nft{
  height: 380px;
  width: 330px;
  margin-top: 35px;
  margin-right: 20px;
  border: 2px;
  border-color: #333333;
  
}      
      
.mint_popup_close_btn{
  position:absolute;
  top:25px;
  right: 135px;
  height: 30px;
  width: 30px;
  background-color: #333333;
  color: #f6c22d;
  border: #f6c22d;
  font-weight: bold;
  border-radius: 5em;
  box-shadow: 0px 0px 1em -5px #333333;
  cursor: pointer;
}

/* FIN POPUP */